.proyectos-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.proyectos{
    padding:2rem;
    background: var(--background) ;
    text-align: center;
}

.proyecto-imagen{
    width:100px;
    height: 100px;
    border-radius:20px;
}