ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 50px;
}

.menuDesplegable {
    position: absolute;
    top: calc(100% + 10px);
    /* Justo debajo del elemento padre */
    left: 0;
    background-color: rgb(4, 26, 104);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    min-width: 200px;
    padding: 0.5rem 0;
    display: flex;
    flex-direction: column;
}

.menuDesplegable li {
    padding: 0.5rem 1rem;
}

.menuDesplegable a {
    color: rgb(76, 145, 249);
    text-decoration: none;
}

.nav {
    display: flex;
    justify-content: center;
    background-color: rgb(4, 26, 104);
    gap: 50px;
    padding: 10px 20px;
    position: relative;
}

.desplegable {
    position: relative;
}