
.menus {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.menus li {
    position: relative;
}

.menus a, .navegacion{
    text-decoration: none;
    color: #310077;
    padding: 8px 15px;
    font-weight: 500;
    font-size: larger;
    transition: background-color 0.3s ease;
}

.menus a:hover {
    background-color: var(--primary-color);
    border-radius: 5px;
}

.desplegable {
    cursor: pointer;
    position: relative;
    
}

.menuDesplegable {
    position: absolute;
    top: calc(100% + 5px);
    width:max-content;
    background-color: rgb(4, 26, 104);
    /* color: rgb(255, 255, 255); */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    list-style: none;
    padding: 5px 10px;
    margin: 15px -60px;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
}

.menuDesplegable.visible {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);

}

.menuDesplegable li {
    padding: 5px 10px;
    

    
    
}

.menuDesplegable li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: color 0.3s ease;
    
}

.menuDesplegable li a:hover {
    color: rgb(253, 253, 253);
}

