
.buttonHamburg{
    margin-right: 20px;
    cursor:pointer;
    font-size: 24px;
    background: none;
    border: none;
    transition: color 0.2s;
}






.navbar-toggler:focus{
    text-decoration:none;
    outline: none;
    border:none;
    box-shadow:none;

}

.btn-close{
    font-size: 24px;
    border: none;
    transition: color 0.2s;
    background-color: aquamarine;
}

.btn-close icon{
    color: #ffffff;
}

.btn-close:hover{
    color: #ffffff;
    border: none;
}




/* #offcanvasNavbar{
    background-color: aqua; este es el desplegable de bootstrap
} */
