.hero{
    height: 100vh;
    margin:0;
    padding:0;
    overflow:hidden;
    display:flex;
    flex-direction: column;
    position:relative;
    background: var(--background) ;
}

.hero-content{
    text-align: center;
    margin-bottom: 0;

}

.hero-title{
    padding:50px 5px;
    font-size: var(--font-size-title);
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    line-height: 1.2;
}

.hero-subtitle{
    padding-top: 50px;
    font-size: var(--font-size-subtitle);
}

.hero-buttons{
    margin-top:50px;
    display:flex;
    flex-direction: column;
    gap: 2rem;
    align-items:center;
}

.button{
    background: var(--background) ;
    font-size: var(--font-size-medium);
    transition:all 0.4s ease-in-out;
    cursor: pointer;
    color:#f4f3f6
}

.button:hover{
    background: var(--background-hover) ;
    transform: scale(1.03);
    color:white;
}

.button.secondary{
    background-color: white;
    color:#120320;
}

.button.secondary:hover{
    background: var(--background-hover);
    color: white;
}



