.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position:absolute;
    width: 95vw;
    padding:20px 0;
    margin:10px 30px;
    border-radius: 20px;
    z-index: 100;
    background-color: rgba(246, 247, 248, 0.464);
    color: rgb(0, 0, 0);
}

.logo a {
    font-size: 24px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.social-media {
    display: flex;
    gap: 15px;
}

.social-media a {
    color: white;
    font-size: 18px;
    text-decoration: none;
}

.social-media a:hover {
    color: rgb(76, 145, 249);
}

@media screen and (max-width: 768px){
    .header {
        display: grid;
        grid-template-columns: 1fr 3fr;
        justify-content: center;
        align-items: center;
        padding: 0px 0;
        margin: 5px;
    }

    .social-media{
        display:none;
    }
}